__pycache__/
*.pyc
.venv/
.env
env/
venv/
.DS_Store
dist/
build/
__dist__/
node_modules/
.vscode/
.DS_Store
web_app.log
firebase-service-key.json
**/firebase-service-key.json
backend/static/firebase-service-key.json

generated_audio/
story_recordings/
story_img_*
documents/

*.wav
*.m4a
*.mp4

tmp.py




